<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="pizzaDBEntities" connectionString="metadata=res://*/Models.ModelPizza.csdl|res://*/Models.ModelPizza.ssdl|res://*/Models.ModelPizza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=pizzaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<location path="validationOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Client" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
		<sessionState mode="InProc" />
		<globalization culture="auto" uiCulture="auto" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="20" slidingExpiration="true" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="index.aspx" path="/"></forms>
		</authentication>
		<membership defaultProvider="ClientProvider">
			<providers>
				<clear />
				<add requiresQuestionAndAnswer="false" name="ClientProvider" type="web_app_pizza.Models.ClientProvider, web-app-pizza" />
			</providers>
		</membership>
		<roleManager defaultProvider="RoleManager" enabled="true" cacheRolesInCookie="true" cookieName="MyRoles" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="RoleManager" type="web_app_pizza.Models.RoleManager, web-app-pizza" />
			</providers>
		</roleManager>
	</system.web>
	
</configuration>
